---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    {% if page.url == '/' %}
    <link rel="stylesheet" href="{{ 'assets/css/home.css' | relative_url }}">
    {% endif %}

    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% link apple-touch-icon.png %}">
    <link rel="icon" href="{% link favicon.ico %}" type="image/x-icon">
    <link rel="manifest" href="{% link site.webmanifest %}">

    <script src="https://unpkg.com/mermaid@8.5.2/dist/mermaid.min.js"></script>

    {% seo %}
</head>

<body>
    {% include header.html %}

    <div class="content">
        {%- if page.title -%}
        <h1>{{ page.title }}</h1>
        {%- endif -%}
        {{ content }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <script src="/assets/js/index.js"></script>
</body>

</html>